body {
background-image:url("profile.png");
}


h1 {
     color:yellow;
     text-align:center;
}
img {

border:double;
color:purple;
background-attachment:scroll;
border:dotted;


}

h1 {
color:purple;
text-align:center;
font-size:60px;
}
ul {
color:fuchsia;}

i {
color:purple;
font-family: "Lucida Console", "Courier New", monospace;
font-size:30px; background-color:yellow;
}
pre {
color:red;
column-fill:balance;
}
nav {
 font-size:25px;

color:green;

}

ul {
background-color:yellow;
}
h1 {

border-color:red;

}
body{   font: 15px/1.5 Arial, Helvetica,sans-serif;   padding:0;   margin:0;   background-color:#f4f4f4; }  
  					
  					/* Global */ .container{   width:80%;   margin:auto;   overflow:hidden; } 
  					
  					 ul{   margin:0;   padding:0; } 
  					 
  					  .button_1{   height:38px;   background:#e8491d;   border:0;   padding-left: 20px;   padding-right:20px;   color:#ffffff; }  
  					  
  					  .dark{   padding:15px;   background:#35424a;   color:#ffffff;   margin-top:10px;   margin-bottom:10px; } 
  					  
  					   /* Header **/ header{   background:#35424a;   color:#ffffff;   padding-top:30px;   min-height:70px;   border-bottom:#e8491d 3px solid; } 
  					   
  					    header a{   color:#ffffff;   text-decoration:none;   text-transform: uppercase;   font-size:16px; }  
  					    
  					    header li{   float:left;   display:inline;   padding: 0 20px 0 20px; } 
  					    
  					     header #branding{ 
  					       float:1right; }
  					     
  					       header #branding h1{   
  					       margin:0; } 
  					       
  					        header nav{   
  					        float:right  ;   margin-top:10px;
  					        
} 
  					        
  	     header .highlight, header .current a{  
  	      color:#e8491d;   font-weight:bold; } 
  					         
  					          header a:hover{ 
  					            color:#cccccc;   font-weight:bold; } 
